.pd-parallax
{
  position: relative;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 2000px;
  margin: 0;
  padding: 0; 
}

.pd-parallax-init
{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin: 0;
  padding: 0; 
}

.pd-parallax h1
{
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 4em;
}

.pd-parallax .pd-title
{
  padding-top: 150px;
  width: 400px;
  margin: 0 auto;
}

.logo-parallax
{
  width: 400px;
}

/*::scroolbars*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: orange; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: purple;
}


.message_home{
  animation:type 4s 1 steps(25);
  overflow: hidden;
  white-space:nowrap;
  color: white;
  background: orange;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 20ch;
  }
}

.message_home_2{
  animation:type 4s 1 steps(25);
  overflow: hidden;
  white-space:nowrap;
  color: white;
  background: purple;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 20ch;
  }
}

.message_home_3{
  animation:type 4s 1 steps(25);
  overflow: hidden;
  white-space:nowrap;
  color: white;
  background: orange;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 20ch;
  }
}

.message_home_4{
  animation:type 4s 1 steps(25);
  overflow: hidden;
  white-space:nowrap;
  color: white;
  background: purple;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 20ch;
  }
}

.categoria:hover {
  background: purple;
  color: white;
  cursor: pointer;
}

.cursor-pointer {
   cursor:pointer;
}
